@page "{link}"
@model YourNamespace.Pages.DatasetModel

<!DOCTYPE html>
<html>
<head>
    <title>Dataset Page</title>
    <link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>
    <h1>Dataset Page</h1>
    <p>This is the dataset page for @Model.Link.Replace(".", "/").</p>
</body>
</html>