@page "{link}"
@model YourNamespace.Pages.DatasetModel

<!DOCTYPE html>
<html>
<head>
    <title>Dataset Page</title>
    <link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>
    <h1>Dataset details</h1>
    <div class="table-container"><table>
        <tr>
            <td>Dataset</td>
            <td> <a href="https://www.kaggle.com/@Model.Link">@Model.Link</a>.</td>
        </tr>
        <tr>
            <td>Row Count</td>
            <td>@Model.RowCount rows.</td>
        </tr>
        <tr>
            <td>Missing Values</td>
            <td>@Model.MissingValuesPercentage.ToString("0.00")% </td>
        </tr>
    </table></div>
    <figure>
        <img src="@Model.ImagePath" alt="Correlation Matrix">
        <figcaption>This image shows the correlation matrix for the dataset. Each cell in the matrix represents the correlation between two variables. A positive correlation is represented by a light color, and a negative correlation is represented by a dark color.</figcaption>
    </figure>
</body>
</html>